<div class="row">
  <div class="col-sm-4">
    <h2><%= @discussion.title %></h2>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <p>
        <%= @discussion.body %>
      </p>
    </div>
  </div>
</div>

<div>
  <%= link_to '<< Back >>', discussions_path, class: 'btn' %> |
  <%= link_to '<< Home >>', root_path, class: 'btn' %>
</div>